.notification
  .notice チャットグループが作成されました

.chat-sidebar
  .chat-sidebar__user
    .chat-sidebar__user
      .chat-sidebar__user-content
        .chat-sidebar__user-name テスト
        = link_to '#', class: "chat-sidebar__new-group" do
          = fa_icon "pencil-square-o"
        = link_to '#', class: "chat-sidebar__edit-user" do
          = fa_icon "cog"
  = render partial: "chat-sidebar__groups"

.chat-contents
  .chat-contents__header
    .chat-contents__header__group
      .chat-contents__header__group-name Sample
      .chat-contents__header__group-edit-btn Edit
    .chat-contents__header__group-member
      Member : 
      %i sample

  .chat-contents__body
    = render partial: "chat-contents__body"
  .chat-contents__footer
    %form{class: "chat-contents__footer__form", action: "/", method: :post}
      .chat-contents__footer__form__body
        %input{placeholder: "type a message", class: "new-message", type: "text" }
          %label.upload-label{for: "upload-icon" }
            = fa_icon("image")
      %input{type: "submit", value: "SEND", class: "new-message-send-btn" }
